.testimonials{
 background: url(../../../assest/testi.png);
    background-size: contain;
    background-position: center right;
    background-repeat: no-repeat;
    padding: 70px 0;
}
.tstminil{
    color:#7d89f3 ;
}